@import url("https://fonts.googleapis.com/css?family=Poppins:900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");
* {
  box-sizing: border-box; }

.body-animation {
  animation: zoomIn 1000ms; }

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.column-centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.column-container {
  display: flex;
  flex-direction: column; }

.pokemonLogo {
  transform: translateX(95px); }

.mainContainer {
  display: flex;
  justify-content: space-around;
  height: 90vh; }

.skew-container {
  display: flex;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 15px 40px;
  font-size: 40px;
  color: #f2ca09;
  background: #3a5ba7;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  align-items: center;
  transform: skewX(-15deg); }

.skew-container:focus {
  outline: none; }

.skew-container:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638; }

.skew-container span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
  padding-left: 20px; }

.skew-container:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px; }

.o-pokeball {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid 2px black;
  position: relative;
  background: linear-gradient(to bottom, #EEEEEE 0%, #FFFFFF 100%);
  margin: 10px auto;
  transform: skewX(15deg); }
  .o-pokeball:before, .o-pokeball:after {
    content: "";
    display: block; }
  .o-pokeball, .o-pokeball:before, .o-pokeball:after {
    transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75); }
  .o-pokeball:before {
    width: 50px;
    height: 24px;
    border-bottom: solid 2px black;
    border-radius: 25px 25px 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%); }
  .o-pokeball:after {
    content: "";
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px black, 0 0 0 2px #ddd, 0 0 0 3.57143px black, 0 0 5px 2.94118px rgba(0, 0, 0, 0.4); }

.u-bounce {
  animation: bounce 1000ms infinite; }

.u-tada {
  animation: tada 1200ms infinite; }

* {
  box-sizing: border-box; }

.body-animation {
  animation: zoomIn 1000ms; }

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.column-centered-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.column-container {
  display: flex;
  flex-direction: column; }

.pokemonLogo {
  transform: translateX(95px); }

.mainContainer {
  display: flex;
  justify-content: space-around;
  height: 90vh; }

.skew-container {
  display: flex;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 15px 40px;
  font-size: 40px;
  color: #f2ca09;
  background: #3a5ba7;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  align-items: center;
  transform: skewX(-15deg); }

.skew-container:focus {
  outline: none; }

.skew-container:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638; }

.skew-container span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
  padding-left: 20px; }

.skew-container:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px; }

.predict-button-wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 1px solid transparent; }

.skew {
  transform: skewX(15deg); }

.arrow-svg {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 5%; }

svg {
  height: 35px;
  width: 45px; }

/**************SVG****************/
path.one {
  transition: 0.4s;
  transform: translateX(-60%); }

path.two {
  transition: 0.5s;
  transform: translateX(-30%); }

.skew-container:hover path.three {
  animation: color_anim 1s infinite 0.2s; }

.skew-container:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s; }

.skew-container:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s; }

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white; }
  50% {
    fill: #FBC638; }
  100% {
    fill: white; } }

/*# sourceMappingURL=home.scss.css.map */