@import 'common';

.predict-button-wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

.predict-button-wrapper:disabled {
    cursor: auto;
}

.skew-container:hover {
    transition: none;
    box-shadow: 6px 6px 0 black;
}

.predict-button-wrapper:disabled .skew-container {
    color: #8d8c87;
    background: #3c3e41;
}

.predict-button-wrapper:disabled .u-bounce {
    animation: none;
}

.predict-button-wrapper:disabled .skew-container:hover path.three {
    animation: none;
    transition: none;
}

.predict-button-wrapper:disabled .skew-container:hover path.one {
    animation: none;
    transition: none;
    transform: translateX(-60%);
}

.predict-button-wrapper:disabled .skew-container:hover path.two {
    animation: none;
    transition: none;
    transform: translateX(-30%);
}


.predict-button-wrapper:disabled .o-pokeball-sm:before {
    background: #3c3e41;
}

.predict-button-wrapper:disabled .skew-container span:nth-child(2) {
    transition: none;
    margin-right: 0;
    padding-left: 0;
}

.skew {
    transform: skewX(15deg);
}

.arrow-svg {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 5%;
}

svg {
    height: 26px;
    width: 45px;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.skew-container:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.skew-container:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.skew-container:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.back-direction {
    transform: rotateY(180deg);
    position: relative;
    top: -2px;
}