@import 'common';
.header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $blue;
}

.headerMenu {
  float: right;
  width: 70%;
}

.headerMenu__list {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  padding: 0 15px;
}

.headerMenu__listItem {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

.headerMenu__listItemLink {
  padding: 5px 15px;
  font-size: 22px;
  text-transform: uppercase;
}

.headerMenu__listItemLink.active {
  background-color: #95a5a6;
  color: #ecf0f1;
}
