<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/header.scss.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/uploadfile.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript"></script>
</head>
<body>
    <header class="header">
        <div class="headerLogo">
            <img class="pokemonFont" src="{{ url_for('static', filename='photos/pokemonlogo.png') }}" height="49" width="134"/>
            <img class="battlesFont" src="{{ url_for('static', filename='photos/pokemonbattles.png') }}" height="27" width="74"/>
        </div>
        <nav class="headerMenu">
            <!-- <ul class="headerMenu__list">
                <li class="headerMenu__listItem">
                    <a class="headerMenu__listItemLink hoverLink" href="/client">Klient</a>
                </li>
                <li class="headerMenu__listItem">
                    <a class="headerMenu__listItemLink hoverLink" href="/car">Samochód</a>
                </li>
                <li class="headerMenu__listItem">
                    <a class="headerMenu__listItemLink hoverLink" href="/rental">Wypożyczenie</a>
                </li>
            </ul> -->
        </nav>
    </header>
    <form id="upload-file" action="{{ url_for('upload') }}"method="post" enctype="multipart/form-data">
        <div id="upload-area-container">
            <div id="uploadArea-pokemon1" class="upload-area">
                <div class="upload-area__header">
                  <h1 class="upload-area__title">Upload your first pokemon</h1>
                  <p class="upload-area__paragraph">
                    File should be an image in format jpeg, .png, .svg, .gif
                  </p>
                </div>
                <div id="dropZoon-pokemon1" class="upload-area__drop-zoon drop-zoon">
                  <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                  </span>
                  <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
                  <span id="loadingText-pokemon1" class="drop-zoon__loading-text">Please Wait</span>
                  <img src="" alt="Preview Image" id="previewImage-pokemon1" class="drop-zoon__preview-image" draggable="false">
                  <label for="fileInput-pokemon1"></label>
                  <input type="file" name="file1" id="fileInput-pokemon1" class="drop-zoon__file-input" accept=".png, .jpg, .jpeg">
                </div>
                <div id="fileDetails-pokemon1" class="upload-area__file-details file-details">
                  <h3 class="file-details__title">Uploaded File</h3>
                  <div id="uploadedFile-pokemon1" class="uploaded-file">
                    <div class="uploaded-file__icon-container">
                      <i class='bx bxs-file-blank uploaded-file__icon'></i>
                      <span class="uploaded-file__icon-text-pokemon1"></span> <!-- Data Will be Comes From Js -->
                    </div>
                    <div id="uploadedFileInfo-pokemon1" class="uploaded-file__info">
                      <span class="uploaded-file__name-pokemon1">Proejct 1</span>
                      <span class="uploaded-file__counter-pokemon1">0%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="uploadArea-pokemon2" class="upload-area">
                <div class="upload-area__header">
                  <h1 class="upload-area__title">Upload your second pokemon</h1>
                  <p class="upload-area__paragraph">
                    File should be an image in format jpeg, .png, .svg, .gif
                  </p>
                </div>
                <div id="dropZoon-pokemon2" class="upload-area__drop-zoon drop-zoon">
                  <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                  </span>
                  <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
                  <span id="loadingText-pokemon2" class="drop-zoon__loading-text">Please Wait</span>
                  <img src="" alt="Preview Image" id="previewImage-pokemon2" class="drop-zoon__preview-image" draggable="false">
                  <label for="fileInput-pokemon2"></label>
                  <input type="file" name="file2" id="fileInput-pokemon2" class="drop-zoon__file-input" accept=".png, .jpg, .jpeg">
                </div>
                <div id="fileDetails-pokemon2" class="upload-area__file-details file-details">
                  <h3 class="file-details__title">Uploaded File</h3>
                  <div id="uploadedFile-pokemon2" class="uploaded-file">
                    <div class="uploaded-file__icon-container">
                      <i class='bx bxs-file-blank uploaded-file__icon'></i>
                      <span class="uploaded-file__icon-text-pokemon2"></span> <!-- Data Will be Comes From Js -->
                    </div>
                    <div id="uploadedFileInfo-pokemon2" class="uploaded-file__info">
                      <span class="uploaded-file__name-pokemon2">Proejct 1</span>
                      <span class="uploaded-file__counter-pokemon2">0%</span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </form>
    <button type="button" class="btn btn-primary btn-lg" id="btn-predict">🪄🔮💥</button>
    <!-- <center><div>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Zaladuj plik
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>
        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="loader" style="display:none;"></div>
        <h4 id="result">
            <span> </span>
        </h4>
    </div></center> -->
</body>
</html>
